.grid {
  display: flex;
  //   @media screen and (min-width: 768px) {
  align-items: flex-end;
  //   flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 80px;
  //   }

  .gridItem {
    // margin: auto;

    :hover {
      color: blue;
      cursor: pointer;
    }
  }
}
