.navbar {
  //   display: flex;
  border: 1px solid black;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  box-shadow: 2px 1px 4px 1px;
  background-color: rgb(0, 0, 0);
  //   background: linear-gradient(rgba(19, 45, 192, 0.74), rgba(19, 152, 192, 0.74));
  margin-bottom: 50px;

  .nav-title {
    margin: auto 0px auto 15px;
    font-size: 25px;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    // flex-basis: 100%;
    flex-grow: 0;

    :hover {
      color: white;
      font-size: 19px;
    }
    li {
      display: inline-block;
      margin-right: 20px;
      a {
        text-decoration: none;
        color: rgb(192, 191, 191);
      }
    }
  }
}
