.grid-card {
  margin-top: 20px;
  border: solid 1px black;
  box-shadow: 2px 2px 19px 10px;

  img {
    width: 300px;
    height: 210px;
    margin: auto;
  }

  .item-name {
    margin-left: 10px;
  }

  .ingredients-list {
    .ingredient {
      margin-left: 10px;
    }
  }
}
