.grid-card {
  background-color: white;
  margin-top: 20px;
  border: solid 1px black;
  box-shadow: 2px 2px 8px 3px;

  img {
    width: 280px;
    height: 180px;
    margin: auto;
  }

  .item-name {
    margin-left: 10px;
  }

  .ingredients-list {
    .ingredient {
      margin-left: 10px;
    }
  }
}
